/* ========== ESTILOS GLOBAIS ==========  */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;900&display=swap");
@import url("tablet.css");
@import url("desktop.css");

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  flex-direction: column;
  font-family: "kanit", sans-serif;
  background: #000002;
}

.content {
  position: relative;
  z-index: 1;
  background: radial-gradient(ellipse at bottom, #0d1a2f63 0%, #000000da 100%);
}

#galaxyCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
/* ========== /ESTILOS GLOBAIS ========== */
