/* ========== NAVBAR ========== */
.navbar {
  font-weight: 600;
  background: radial-gradient(ellipse at top, #0d1a2f6e 0%, #000000 100%);
}

.navbar-nav {
  width: 100%;
}

.navbar-nav .nav-link {
  position: relative;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(96, 165, 250, 0.4);
  transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}
/* ========== /NAVBAR ========== */
