/* ========== ESTILOS GLOBAIS ========== */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  background: #000000;
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  z-index: 1;
  background: radial-gradient(ellipse at bottom, #0d1a2f63 0%, #000000da 100%);
}

#galaxyCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* ========== /ESTILOS GLOBAIS ========== */
