@media screen and (max-width: 400px) {
     .Felipe-Duarte {
    font-size: 3.2em;
     letter-spacing: 0.05em;
    -webkit-text-stroke: 1.1px #a6a6a6;
  transform: scaleY(1.6);
  }
  .about-me {
    padding: 3rem 0.5rem;
  }

  .service-card {
    padding: 1.5rem 1rem;
  }

  .cta-button {
    padding: 0.9rem 2rem;
    font-size: 1rem;
  }
  .titulo-projetos {
    font-size: 2.2em;
  }
  
  .subtitulo-projetos {
    font-size: 1.8rem;
  }
  
  .img-projeto {
    height: 200px;
  }
}